@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
  color: #472c1b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.168px;
  background-image: url("/images/paper_background.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.chocolate-button {
  @apply rounded-md bg-brown px-4 py-2 text-white hover:opacity-85;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
